[Unit]
Description=Kmonad keyboard setup service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/mezner/.local/bin/kmonad /home/mezner/.config/kmonad/mezner.kbd

[Install]
WantedBy=default.target
