[Unit]
Description=Kmonad keyboard setup service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/.local/bin/kmonad %h/.config/kmonad/mezner.kbd

[Install]
WantedBy=default.target
