[Unit]
Description=Waybar
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=waybar

[Install]
WantedBy=default.target
