[user]
    name = Russell Myers
    email = mezner@russellmyers.com
[color]
    ui = true
[alias]
    s = status
    d = diff
    c = commit
    a = add
    l = log
    co = checkout
    co = checkout
    br = branch
    ci = commit
    st = status
    di = diff
    unstage = reset HEAD .
    undo = checkout -- .
    ff = find-file
    graph = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
[core]
    excludesfile = ~/.gitignore_global
    editor = 'vim'
[push]
    default = simple
[http]
    sslverify = false
[grep]
    linenumber = true
[status]
    short = true
    branch = true

[include]
path = .gitconfig.local
[init]
	defaultBranch = main
