[user]
    name = Russell Myers
    email = mezner@russellmyers.com
[color]
    ui = true
[alias]
    s = status
    d = diff
    c = commit
    a = add
    l = log
    co = checkout
    co = checkout
    br = branch
    ci = commit
    st = status
    di = diff
    unstage = reset HEAD .
    undo = checkout -- .
    ff = find-file
[core]
    excludesfile = ~/.gitignore_global
    editor = 'vim'
[push]
    default = simple
[http]
    sslverify = false

[include]
path = .gitconfig.local
