@define-color base      #1f1f1f;
@define-color fg        #dddddd;
@define-color active    #A6E22E;
@define-color secondary #dddddd;
@define-color crit      #F92672;
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    color: @fg;
    border: 0;
    padding: 0 0;
    margin: 0;
    font-family: UbuntuMono;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    /* border-radius: 10px; */
    /* background:#2d2a2e; */
    /* background-color: rgba(36, 39, 58, 0.85); */
    background-color: rgba(0, 0, 0, 0);
    /* background-color: shade(#1e1e2e, 0.95); */
}

#workspaces button {
    color: @base;
    border-radius: 50%;
    /* background-color: @base; */
    margin: 0px 0px;
    padding: 8 8 8 8;
}

#workspaces button:hover {
    color: @active;
    box-shadow: none;
    /* Remove predefined box-shadow */
    text-shadow: none;
    /* Remove predefined text-shadow */
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @active;
    background-color: @base;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces {
    border-style: solid;
    background-color: @base;
    opacity: 1;
    border-radius: 8px;
    padding: 0px 4px 0px 4px;
    /*margin: 0px 8px 8px 8px;*/
    margin: 8px 10px;
}

#workspaces button.focused {
    color: @active;
    border-radius: 10px;
}

#workspaces button.focused * {
    color: @active;
}

#mode {
    color: #ebcb8b;
    padding: 8px;
    margin: 8px 10px;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#taskbar,
#tray,
#custom-power,
#custom-launcher,
#custom-poweroff,
#mpd {
    border-style: solid;
    background-color: shade(@base, 1);
    opacity: 1;
    padding: 8px;
    margin: 8px 0px 8px 0px;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */
#mode {
    border-radius: 10px;
    color: @crit;
    margin-right: 5px;
    padding: 8px;
    margin: 8px 10px;
}

#taskbar {
    border-radius: 10px;
    margin-right: 5px;
    padding: 8px;
    margin: 8px 0px 8px 0px;
}

#taskbar button.focused {
    color: @active;
}

#taskbar button {
    margin-left: 8px;
}

#clock {
    border-radius: 10px 0 0 10px;
    margin-left: 8px;
}

#custom-poweroff {
    border-radius: 0 10px 10px 0;
    padding-right: 8px;
    margin-right: 8px;
}

#battery {
    border-radius: 8px 0 0 8px;
    margin-left: 8px;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: @crit;
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @secondary;
}

#cpu #cpu-icon {
    color: @secondary;
}

#memory {
    color: @secondary;
}

#network.disabled {
    color: #bf616a;
}

#network {
    border-radius: 10px;
    margin-right: 5px;
    padding: 8px;
    margin: 8px 0px 8px 0px;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio.muted {
    color: @crit;
}

#temperature.critical {
    color: @crit;
}

#idle_inhibitor {
    border-radius: 0 10px 10px 0;
}

#tray {
    margin: 8px 10px;
    padding: 8px;
    border-radius: 10px;
}

#window {
    border-style: hidden;
    margin-left: 10px;
    margin-right: 10px;
    color: #eceff4;
}

#window button {
    margin-left: 8px;
}
