@import "../../themes/current/waybar.css";

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: CaskaydiaMono Nerd Font;
    font-size: 12px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.urgent {
    color: @urgent;
}

#workspaces button.urgent * {
    color: @urgent;
}

#workspaces button.active {
    color: @active;
}

#workspaces button.active * {
    color: @active;
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-dunst,
#custom-poweroff {
    min-width: 12px;
    margin: 0 7.5px;
}

#custom-expand-icon {
    margin-right: 7px;
}

tooltip {
    padding: 2px;
}

#custom-dunst.disabled {
    color: @urgent;
}

#idle_inhibitor.activated {
    color: @urgent;
}
