[Unit]
Description="Enables the Razer NVidia GFX card ACPI wake"
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/sh -c "echo PEGP | sudo tee /proc/acpi/wakeup"

[Install]
WantedBy=default.target
